*{
  box-sizing: border-box;
  background-color: aqua;
}

.maintitle{
  margin: 15px;
  padding: 15px;
  font-size: 45px;
  color: crimson;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectitle{
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  color: chocolate;
}

.lorem{
  font-size: 25px;
}

.lorem::first-letter{
  font-size: 45px;
  font-style: oblique;
}