*{
  box-sizing: border-box;
  text-align: justify;
}

body{
  background-color: aqua;
}

.maintitle{
  margin: 15px;
  padding: 15px;
  font-size: 45px;
  color: crimson;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectitle{
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  color: chocolate;
}

.exctitle{
  margin: 10px;
  padding: 10px;
  font-size: 35px;
  color: chocolate;
}

.obj{
  font-size: 30px;
  display: inline;
  color: crimson;
  font-weight: bolder;
}

.objdesc{
  display: inline;
  font-size: 25px;
}

ol, ul{
  font-size: 20px;
}

form{
  display: inline;
}

button{
  width: 30%;
  color: crimson;
  font-size: 25px;
  border-radius: 15px;
  background-color: white;
  transition: 0.5s;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.inicio:hover{
  color: white;
  background-color: black;
  box-shadow: -10px -10px 0px;
}

.context:focus{
  color: white;
  background-color: black;
  box-shadow: -10px -10px 0px;
}

.trans:active{
  color: white;
  background-color: black;
  box-shadow: -10px -10px 0px;
}

p{
  font-size: 25px;
}

.lorem::before{
  content: 'Descripción: ';
  font-weight: bold;
}

.exc2list li:first-child{
  color: crimson;
  background-color: lightgray;
  text-decoration: underline;
}

.exc2list li:last-child{
  color: blue;
  background-color: darkred;
  text-decoration: wavy underline;
}

.exc2list li:nth-child(3){
  color: salmon;
  background-color: yellowgreen;
  text-decoration: overline;
}

.exc3par::first-letter{
  color: crimson;
  background-color: lightgray;
  text-decoration: underline;
}

.exc3par::first-line{
  color: blue;
  background-color: darkred;
  text-decoration: wavy underline;
}

.maintitle::before{
  content: '\2743';
}

.maintitle::after{
  content: '\2743';
}

.card{
  padding: 25px;
  max-width: 500px;
  margin: auto;
  display: block;
  text-align: center;
  background-color: #000;
  background-image: url(../images/maxresdefault.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid black;
  border-radius: 25px;
}

.cardtitle::before{
  content: 'El título de la tarjeta';
  font-size: 35px;
  background-color: rgba(red, green, blue, 0);
  color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardtitle:hover::before{
  content: 'Ni se te ocurra pulsar ese botón';
  font-size: 35px;
  background-color: rgba(red, green, blue, 0);
  color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardpar::before{
  content: 'Realmente no sé qué puedo poner acá, así que solamente dejaré este texto sin mucho más. Deberías probar a pulsar el botón de abajo.';
  background-color: rgba(red, green, blue, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardpar:hover::after{
  content: 'Si fuera tú, yo no pulsaría ese botón.';
  background-color: rgba(red, green, blue, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardbutton::before{
  content: 'Miren, un botón.';
  background-color: red;
  font-size: 30px;
  font-weight: bold;
  border: 7px solid red;
  border-radius: 15px;
}

.cardbutton:hover::before{
  content: '¿Estás seguro de hacerlo?';
  position: relative;
  background-color: red;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  border: 7px solid red;
  border-radius: 15px;
}

#boton:checked ~ .cardtitle::before{
  content: 'Oh, no, pulsaste el botón';
}

#boton:checked ~ .cardpar::before{
  content: 'No pensé que pulsarías el botón. Ahora nos has condenado a todos.';
}

#boton:checked ~ .cardpar::after{
  content: '';
}

#boton:checked ~ .cardbutton::before{
  content: '¿Por qué pulsaste el botón?';
}